name: Unix

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Install Pixi
      shell: bash
      run: |
        curl -fsSL https://pixi.sh/install.sh | bash
        echo "$HOME/.pixi/bin" >> $GITHUB_PATH

    - shell: bash -eo pipefail -l {0}
      name: Install dependencies
      run: pixi install

    - shell: bash -eo pipefail -l {0}
      name: Editable install
      run: pixi run python -m pip install -e .

    - shell: bash -eo pipefail -l {0}
      name: pyflakes
      run: pixi run python -m pyflakes plotfile_viewer

    - shell: bash -eo pipefail -l {0}
      name: Test
      run: pixi run python -m pytest tests
