name: Windows

on: [push, pull_request]

jobs:
  win_pip:
    name: Windows
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install Pixi
      shell: pwsh
      run: |
        iwr https://pixi.sh/install.ps1 -UseBasicParsing | iex
        "$env:USERPROFILE\.pixi\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - name: Install dependencies
      shell: pwsh
      run: pixi install

    - name: pyflakes
      shell: pwsh
      run: pixi run python -m pyflakes plotfile_viewer

    - name: Test
      shell: pwsh
      run: pixi run python -m pytest tests
